<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Verify your email address</title>
  </head>

  <body>
    <table
      id="m_5697987839338949063middle_column_content_table"
      border="0"
      cellspacing="0"
      cellpadding="40"
      width="100%"
      style="background:#ffffff;border-radius:8px"
    >
      <tbody>
        <tr>
          <td
            id="m_5697987839338949063middle_column_content_cell"
            style="background-color:#ffffff;border-radius:6px"
          >
            <span
              style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;color:#424242"
            >
              <p style="margin:0 0 30px 0">
                Hello! Just need you to verify that this is your email address. Is this you?
              </p>
              <p
                id="code"
                style="display:inline-block;width:100%;background-color:#eaf3ff;text-decoration:none;color:#5486c6;font-size:18px;font-weight:bold;text-align:center;padding:15px 0px 15px 0px;border-radius:2px"
              >
                1225
              </p>
              <p style="margin:30px 0 0 0">
                Get your code and enter in
                <span style="color: rgb(44, 187, 44);">Tick ⏳📒</span> app. Thanks!
              </p>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
