<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>[Tick ✔️] Remider your task</title>
  </head>

  <body>
    <table
      id="m_5697987839338949063middle_column_content_table"
      border="0"
      cellspacing="0"
      cellpadding="40"
      width="100%"
      style="background:#ffffff;border-radius:8px"
    >
      <tbody>
        <tr>
          <td
            id="m_5697987839338949063middle_column_content_cell"
            style="background-color:#ffffff;border-radius:6px"
          >
            <div
              style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;color:#424242"
            >
              <p id="message" style="margin:0 0 30px 0">
                Hello! You have a task - Go Home at Sep 24 08:20:25 PM
              </p>
              <p style="margin:30px 0 0 0">
                Please go back <span style="color:#ff7e67;">Tick </span> app and handle it.
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
