<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>[Tick ✔️] Report every week</title>
  </head>

  <body>
    <table
      id="m_5697987839338949063middle_column_content_table"
      border="0"
      cellspacing="0"
      cellpadding="40"
      width="100%"
      style="background:#ffffff;border-radius:8px"
    >
      <tbody>
        <tr>
          <td
            id="m_5697987839338949063middle_column_content_cell"
            style="background-color:#ffffff;border-radius:6px"
          >
            <div
              style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;color:#424242"
            >
              <p id="time" style="margin:0 0 30px 0">
                Hello! This is a report for last week (Sep 22 - Sep 29):
              </p>
              <pre id="content" style="font-size: 14px;color: #07689f; margin: 0;">
                - Complete Tick app: <span style="color:#ff7e67;">50%</span>
                  + Complete service: Todo
                  + Complete mobile: Done
              </pre>
              <p style="margin:30px 0 0 0">
                Please go back <span style="color:#ff7e67;">Tick </span> app and see the detail it.
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
